<div class="full-width">
  <div class="flex-container">
    <h2  class="ml20">Credenziali Utente</h2>
    <span class="example-spacer"></span>
  </div>
  <mat-card class="m-20">
      <mat-divider ></mat-divider>
      <mat-dialog-content class="m-10">
        <mat-spinner color="primary" *ngIf="false; else formArea"></mat-spinner>
        <ng-template #formArea>
          <div class="row-line">
            <mat-form-field class="primary-form" appearance="outline" >
              <mat-label>Username</mat-label>
              <input matInput >
            </mat-form-field>
            <mat-form-field  class="primary-form" appearance="outline" >
              <mat-label>Password</mat-label>
              <input type="password" matInput >
            </mat-form-field>
            <mat-form-field class="secondary-form" appearance="outline" >
              <mat-label>Email</mat-label>
              <input  matInput>
            </mat-form-field>
            <mat-form-field class="third-form" appearance="outline" >
              <mat-label>PIN CODE</mat-label>
              <input  matInput>
            </mat-form-field>
          </div>
        </ng-template>
      </mat-dialog-content>
      <mat-dialog-actions class="button-container">
        <span class="example-spacer"></span>
        <button color="accent" class="m-10 button-custom" mat-flat-button>Resetta</button>
        <button color="primary" class="m-10 button-custom" mat-flat-button> Salva </button>
      </mat-dialog-actions>
  </mat-card>
</div>


