
<div class="full-width">
    <div class="flex-container">
      <h2  class="ml20">Carica File</h2>
      <span class="example-spacer"></span>
      <a routerLink="home">
      </a>
    </div>
    <mat-card class="m-20">
      <div>
        <div class="m-10">
          <h3>Caricamento File Excel</h3>
          <app-drag-drop-zone></app-drag-drop-zone>
        </div>
        <mat-dialog-actions class="button-container">
          <span class="example-spacer"></span>
          <button color="accent" class="m-10 button-custom" mat-flat-button>Resetta</button>
          <button color="primary" class="m-10 button-custom" mat-flat-button> Salva </button>
        </mat-dialog-actions>
      </div>
    </mat-card>
</div>
