
<div class="full-width">
    <div class="flex-container">
      <h2  class="ml20">Caricamento Excel</h2>
      <span class="example-spacer"></span>
      <a routerLink="home">
      </a>
    </div>
    <mat-card class="m-20">
      <div>
        <div class="m-10">
          <h3 class="ml5">Carica File e compila il form:</h3>
          <mat-hint class="hint">Controllare le <a routerLink="/dashboard/tss">credenziali dell'utenza</a> di tessera sanitaria per il caricamento del file</mat-hint>
          <form [formGroup]="form">
          <div class="form-box">
            <mat-form-field class="primary-form" appearance="outline">
              <mat-select formControlName="tipoOperazione" placeholder="Tipo di Operazione" >
                <mat-option value="I">Invio</mat-option>
                <mat-option value="C">Cancellazione</mat-option>
                <mat-option value="R">Rimborso</mat-option>
                <mat-option value="V">Variazione</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="primary-form" appearance="outline">
              <mat-select formControlName="tipoSpesa"  placeholder="Tipo Spesa">
                <mat-option value="SR">Prestazioni Sanitarie</mat-option>
                <mat-option value="IC">Prestazioni Chirurgia Estetica</mat-option>
                <mat-option value="AA">Altre Prestazioni</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="primary-form" appearance="outline">
              <mat-select formControlName="tipoDocumentoSpesa"  placeholder="Tipo Documento Spesa">
                <mat-option value="F">Fatture</mat-option>
              </mat-select>
            </mat-form-field>
          <!--  <mat-form-field class="primary-form" appearance="outline">
              <mat-select formControlName="iva" placeholder="Iva">
                <mat-option value="Aliquota">Aliquota</mat-option>
                <mat-option value="22">22%</mat-option>
                <mat-option value="0">0%</mat-option>
              </mat-select>
            </mat-form-field>-->
          </div>
          <mat-checkbox formControlName="flagOpposizione" class="example-margin">Flag Opposizione</mat-checkbox>
          </form>
          <app-drag-drop-zone (fileAdded)="fileAdded($event)" ></app-drag-drop-zone>
        </div>
        <mat-dialog-actions class="button-container">
          <span class="example-spacer"></span>
          <button [disabled]="!form.valid" (click)="validateForm()" color="primary" class="m-10 button-custom" mat-flat-button> Invio</button>
        </mat-dialog-actions>
      </div>
    </mat-card>

  <div *ngIf="showValidation">
    <app-confirm-validation
    [id]= id></app-confirm-validation>
  </div>
  <div *ngIf="error">
  <app-error-validation
    [messages]="messaggi"
  ></app-error-validation>
  </div>
</div>
