<div class="full-width">
  <div class="flex-container">
    <h2 class="ml20"> Fatture</h2>
    <span class="example-spacer"> </span>
  </div>
  <mat-card class="table-card m-20">
    <div class="m-10">
      <div class=" title-container">
        <h3 >Lista Fatture</h3>
        <span class="example-spacer"></span>
        <div class="filters-container">
          <div>
            <button (click)="showSearch = !showSearch" mat-icon-button> <mat-icon>search</mat-icon></button>
            <button (click)="showFilters= !showFilters" mat-icon-button><mat-icon>filter_list</mat-icon></button>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div  *ngIf="showSearch">
        <app-search-modal (formSearch)="search($event)"></app-search-modal>
      </div>
      <div *ngIf="showFilters">
        <app-filter-modal
          (form)="filter($event)"
          [invoice]="true"
        ></app-filter-modal>
      </div>
      <mat-divider></mat-divider>
    </div>
    <table mat-table [dataSource]="dataSource" class="example-spacer">
      <ng-container matColumnDef="invoiceId" >
        <th  mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.invoiceId}}</td>
      </ng-container>
      <ng-container matColumnDef="numberInvoice" >
        <th  mat-header-cell *matHeaderCellDef>N. Fatture</th>
        <td mat-cell *matCellDef="let element">{{ element.numberInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="protocol" >
        <th  mat-header-cell *matHeaderCellDef>N. Protocollo</th>
        <td mat-cell *matCellDef="let element">{{ element.protocol}}</td>
      </ng-container>
      <ng-container matColumnDef="payment" >
        <th  mat-header-cell *matHeaderCellDef>Metodo Pagamento</th>
        <td mat-cell *matCellDef="let element">{{element.payment}}</td>
      </ng-container>
      <ng-container matColumnDef="emissionDate">
        <th  mat-header-cell *matHeaderCellDef>Data di Emissione</th>
        <td mat-cell *matCellDef="let element">{{element.emissionDate | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="fiscalCode">
        <th  mat-header-cell *matHeaderCellDef>Codice Fiscale</th>
        <td mat-cell *matCellDef="let element">{{element.fiscalCode}}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th  mat-header-cell *matHeaderCellDef>Importo</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}€</td>
      </ng-container>
      <ng-container matColumnDef="paymentData">
        <th  mat-header-cell *matHeaderCellDef>Data di Pagamento</th>
        <td mat-cell *matCellDef="let element">{{element.paymentData | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th  mat-header-cell *matHeaderCellDef>Stato</th>
        <td mat-cell *matCellDef="let element">{{element.status }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginatorPageSize
      [pageSizeOptions]="pageSizes"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>
