<div class="confirm_container m-20">
  <mat-icon>warning</mat-icon>
  <div class="confirm_container m-10">
    Stai aggiornando la parola chiave dell'utenza di tessera sanitaria, <span style="font-weight: bold">Sei sicuro di voler continuare ?</span>
  </div>
  <mat-dialog-actions>
    <button  mat-dialog-close color="accent" class="m-10 button-custom" mat-flat-button>Indietro</button>
    <button mat-dialog-close  color="primary" class="m-10 button-custom" mat-flat-button> Aggiorna </button>
  </mat-dialog-actions>

</div>
