.container{
  display: flex;
  position: sticky;
  top: 75px;
  width:250px;
  overflow: hidden;
}

#menu {
  padding: 0 3%;
  margin-bottom: 32px;
}

.routerButton {
  grid-template-columns: auto;
  justify-content: start;
  align-items: center;
  grid-gap: 20px;
  margin: 10px;
  height: 50px;
  width: 220px;
  font-size: 18px;
  border: 1px solid #80808042;
  background-color: white;
}

mat-icon{
  margin-right: 10px;
  margin-bottom: -4px;
}

button.mat-flat-button {
  width: 150px;
  border-radius: 0 0 16px 16px;
}

.routerButton.active {
  background-image: url("/assets/texture.png");
  background-size: 500px;
  background-position: 60% 0;
  background-color: #c10000;
  color: white;
  border: 1px solid #91211e;
}

