<div class="m-20">
  <div class="login-form">
    <img alt="" class="image m-10" src="assets/logoHealthItalia.png">
  </div>
  <div class="login-form">
  <h2 mat-card-title>Accedi all'area privata</h2>
  <mat-card-content class="m-20">
    <p>Effettua la login utilizzando le credenziali che ti sono state fornite.</p>
  </mat-card-content>
  <div class="full-width">
    <button class="full-width" mat-flat-button color="primary" id="signinButton" (click)="login()">Accedi</button>
  </div>
  </div>
</div>

