<mat-accordion>
  <ng-container>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="space-between center" class="primary-color">
          <span>Dati Anagrafici</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list class="ml20">
        @for (folder of folders; track folder) {
          <mat-list-item>
            <div  matListItemTitle>{{folder.name}}</div>
            <div matListItemLine>{{folder.updated}}</div>
          </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

