<div class="login-container full">
  <mat-card class="cont">
    <div class="m-20">
      <div class="login-form">
        <img class="image m-10" src="assets/logoHealthItalia.png">
      </div>
      <div class="login-form">

        <div >
          <div class="form full-width">
            <mat-label class="ml20">Scegli il profilo con cui vuoi accedere:</mat-label>
            <form [formGroup]="form">
            <mat-form-field class="primary-form" appearance="outline">
              <mat-select formControlName="ente" placeholder="Azienda">
                <mat-option *ngFor="let ente of enti" [value]="ente">{{ente.nome}}</mat-option>
              </mat-select>
            </mat-form-field>
            </form>
          </div>
          <button [disabled]="!form.valid" (click)="addEnte()" class="full-width" color="primary" mat-flat-button>Accedi </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
