  <mat-toolbar fxflexoffset="8px">
    <span class="title">My App</span>
   <!-- <button mat-icon-button (click)="openSideNav.emit()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span class="example-spacer"></span>
    <div id="profile">
      <div class="user">
        <div class="name-user">
          <span>Mario Rossi</span>
        </div>
        <span class="example-spacer"></span>
        <div>
          <button class="login-button" mat-icon-button (click)="showInfo = !showInfo"><mat-icon>person</mat-icon></button>
        </div>
      </div>
      <div *ngIf="showInfo">
        <app-user-info></app-user-info>
      </div>
    </div>
  </mat-toolbar>


