.search-form{
  width: 280px;
}

.field{
  width: 280px;
}

.example-full-width {
  width:400px;
  margin-left: 40px;
}


.subtitle{
  font-size: 15px;
}
.text{
  font-size: 12px;
  font-style: normal;
}

.text-container{
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: justify;
}

::ng-deep .mat-mdc-text-field-wrapper {
  max-height: 50px;
}

.title-container{
  height: 55px;
  display: flex;
  align-items: center;
}
.container-search{
  margin-right: 20px;
  margin-top: 10px;
}
