<div class="full-width" xmlns="http://www.w3.org/1999/html">
    <div class="flex-container">
      <h2 class="ml20"> Dashboard  </h2>
      <span class="example-spacer"> </span>
  </div>
  <div class="flex-container">
    <mat-card style="height: 240px; min-width: 476px" class="ml20">
      <div class="m-10">
        <div>
          <div class="flex-container m-20">
            <span style="font-weight: bold">Operazioni File Tessera Sanitaria</span>
          </div>
          <div class="flex-container mb-20 ml20">
            <mat-icon class="mr10">calendar_today</mat-icon> <span>Ultimo Invio:</span>
          </div>
          <div class=ml10>
            <div class="text-container">
              <mat-icon class="mr10">watch_later</mat-icon>
              <span><span style="font-weight: bold"> Data: </span> <span>{{user.ultimaOperazione.dataCreazione |  date: 'dd/MM/yyyy'}} </span> </span>
            </div>
            <div class="text-container">
              <mat-icon class="mr10">person</mat-icon>
              <span><span style="font-weight: bold"> Utenza: </span> <span>{{user.nome}} {{user.cognome}}</span> </span>
            </div>
            <div class="text-container">
              <mat-icon class="mr10">domain</mat-icon>
              <span><span style="font-weight: bold"> Azienda: </span> <span>{{user.ultimaOperazione.canale}}</span> </span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card style="height: 240px; min-width: 476px" class="ml20">
      <div class="m-10">
        <div>
          <div class="flex-container m-20">
           <span style="font-weight: bold">Utenza Tessera Sanitaria</span>
          </div>
          <div class="flex-container mb-20 ml20">
            <mat-icon class="mr10">border_color</mat-icon> <span>Modifica Parola Chiave:</span>
          </div>
          <div class=ml10>
              <div class="text-container">
                <mat-icon class="mr10">watch_later</mat-icon>
                <span><span style="font-weight: bold"> Data: </span> <span>{{date |  date: 'dd/MM/yyyy'}} </span> </span>
              </div>
              <div class="text-container">
                <mat-icon class="mr10">person</mat-icon>
                <span><span style="font-weight: bold"> Utenza: </span> <span>Mario Rossi </span> </span>
              </div>
              <div class="text-container">
                <mat-icon class="mr10">domain</mat-icon>
                <span><span style="font-weight: bold"> Azienda: </span> <span>Health-Point</span> </span>
              </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

    <mat-card class="table-card m-20">
      <div class="m-20">
        <div class=" title-container">
          <h3 >Protocolli</h3>
          <span class="example-spacer"></span>
          <div class="filters-container">
            <div>
              <button (click)="showS()" mat-icon-button> <mat-icon>search</mat-icon></button>
              <button (click)="showF()" mat-icon-button><mat-icon>filter_list</mat-icon></button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div  *ngIf="showSearch">
          <app-search-modal (formSearch)="search($event)"></app-search-modal>
        </div>
        <div *ngIf="showFilters">
          <app-filter-modal (form)="filter($event)"></app-filter-modal>
        </div>
        <mat-divider></mat-divider>
      </div>
      <table mat-table [dataSource]="dataSource" class="example-spacer" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="id" >
            <th  mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordina">N.Protocollo</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="stato" >
          <th  mat-header-cell *matHeaderCellDef>Stato</th>
          <td mat-cell *matCellDef="let element">{{ element.stato}}</td>
        </ng-container>
        <ng-container matColumnDef="dataCreazione" >
          <th  mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">{{ element.dataCreazione | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="esito" >
          <th  mat-header-cell *matHeaderCellDef>Esito</th>
          <td mat-cell *matCellDef="let element">{{ element.esito?.descrizione}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginatorPageSize
        [pageSizeOptions]="pageSizes"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card>
  </div>


