/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100i,300,300i,400,400i,500,500i,700,700i&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, sans-serif; }

.full-width{
  width:100%;
}
.full-height{
  height: 100%;
}

.full{
  height: 100%;
  width: 100%;
}

.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}

.mr-10{
  margin-right: 10px;
}

.mt-10{
margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}
.ml5{
  margin-left: 5px;
}
.ml15{
margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml10 {
  margin-left: 10px;
}
.mr10{
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.flex-container{
  display: flex;
}

.button-custom{
  width: 150px;
}

mat-form-field{
  margin: 5px;
}

.confirm-color{
  color: #008c3b
}

.error-color{
  color: #e30000;
}
.warning_color{
  color: #ffff4b;
}

.white{
  color: white;
}

.button-container{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}
